.container{
    background-color: rgb(0, 174, 255);
    width: 600px;
    height: 480px;
    display: flex;
    flex-direction: column;
    
/* alinha na vertical */
    align-items: center;
/* alinha na horizontal */
    justify-content: center;
}
.quadrado{
    background-color: rgb(0, 255, 234);
    width: 100px;
    height: 100px;
    border: 6px solid #000;
}