.titulo{
    font-family: Qwitcher Grypen;
    color: rgba(114, 42, 182, 0.74);
}
span{
    color:rgb(56, 17, 94);
}
.paragrafo {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    /* peso da fonte */
    font-weight: bold;
    /* maiúscula */
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline overline rgb(30, 198, 228);
}
.conteudo{
    font-size:18px ;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px ;
    /* altura entre as linhas line-height */
    text-align: justify;
}